<!DOCTYPE html>

{% extends "base.html" %}
{% block title %}Todolist{% endblock %}

{% block page_content %}

    <div class="page-header">
        {% if user %}
            <h1>HELLO {{ user }}!</h1>
        {% else %}
            <h1>HELLO Stranger!</h1>
        {% endif %}
    </div>
    <p>The local date and time is {{ moment(current_time).format('LLLL',True) }}.</p>
    <p>That was {{ moment(current_time).fromNow(refresh = True) }}.</p>


    <div class="ui segment">
        <h1 class="ui huge header"> TODO App</h1>

        {% if tasks|length < 1 %}
            <h4>There are no tasks. Create one below!</h4>
        {% endif %}

        <form class="ui form" action="/" method="post">
            <div class="field">
                <label>Task name</label>
                <input type="text" name="content" id="content" style="width: 50%;margin-bottom: 5px">
                </div>

                <div class="field" style="width: 50%;margin-bottom: 10px">
                    <label>Task deadline</label>
                    <select class="ui search dropdown" name="status">
                        <option value="0">急</option>
                        <option value="1">很急</option>
                        <option value="2">很急很急</option>
                        <option value="3">很急很急很急</option>
                        <option value="4">很急很急很急很急</option>
                    </select>
                </div>
                <input class="ui blue button margin" type="submit" value="Add task" style="margin-bottom: 15px">
        </form>

        <ol>

            {% for task in tasks %}
                <div class="ui segment">
                    <li class="ui ge list">
                        {% if task.done %}
                            <a class="ui green big circular label">
                                <del>{{ task.content }}</del>
                            </a><br><br>

                        {% else %}
                            {% if task.status == 4 %}
                                <a class="ui red big circular label">{{ task.content }}</a><br><br>
                            {% elif task.status == 3 %}
                                <a class="ui orange big circular label">{{ task.content }}</a><br><br>
                            {% elif task.status == 2 %}
                                <a class="ui yellow big circular label">{{ task.content }}</a><br><br>
                            {% elif task.status == 1 %}
                                <a class="ui olive big circular label">{{ task.content }}</a><br><br>
                            {% elif task.status == 0 %}
                                <a class="ui green big circular label">{{ task.content }}</a><br><br>
                            {% else %}
                                <a class="ui teal big circular label">{{ task.content }}</a><br><br>
                                {#                        <span style="font-size: 24px;">{{ task.content }}</span><br>改變字體大小#}
                            {% endif %}
                            <a class="ui blue button margin" href="update/{{ task.id }}">Revise</a>

                        {% endif %}
                        {#                                               <button onclick="location.href='/done/{{ task.id }}'">DONE</button>另一種寫法#}
                        <a class="ui green button margin" href="/done/{{ task.id }}">Done</a>
                        <a class="ui red button margin" href="/delete/{{ task.id }}">Delete</a>
                    </li>
                </div>
            {% endfor %}

        </ol>
    </div>

{% endblock %}